body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
*{
    border-style: solid;
    padding: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.content{
    display: flex;
    flex: 1;
}

.content-right, .content-left{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.boxes{
    display: flex;
}

.content-left{
    display: flex;

}

 a{
   text-decoration: none; 
 }
