body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
}

.content{
    display: flex;
    flex: 1;
}

.content-right, .content-left{
    flex: 1;
}

.boxes{
    display: flex;
}



 a{
   text-decoration: none; 
 }
