body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
*{
    /* border-style: solid;
    padding: 10px; */
}

.header{
    display: flex;
    justify-content: space-between;
}

.content{
    display: flex;
    flex: 1;
}

button{
    padding:10px;
    border-radius: 5px;
}

.content-right{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-left{
display: flex;
flex-direction: column;
width:20em;
justify-content: space-around;
align-items:center
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-text{
    width: 1000px;
    font-size: 20px;
    border-style:solid;
}

.box{
    width: 100px;
    height: 100px;
    border-style: solid;
}

.bottom{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 a{
   text-decoration: none; 
   font-size: 30px;
   color:;
 }
 
 .bottom-text{
    width: 1000px;
    font-size: 20px;
    border-style: solid;
 }

 .footer{
    display: flex;
    justify-content: center;
    font-size: 18px;
 }

 .header, .footer{
background-color:#848FA5;
 }