body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
*{
    border-style: solid;
    padding: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.content{
    display: flex;
    flex: 1;
}

.content-right{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-left{

}


.box{
    width: 100px;
    height: 100px;
}

.bottom{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.text{
    flex: 1;
    display: flex;
    flex-direction: column;
}

 a{
   text-decoration: none; 
 }
