body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
*{
    /* border-style: solid;
    padding: 10px; */
}

.header{
    display: flex;
    justify-content: space-between;
    height: 7em;
    align-items: center;
    padding: 5px;
}

.content{
    display: flex;
    flex: 1;
    background-color:#E5DCC5;
}

.left-buttons, .right-buttons{
    display: flex;
    gap: 15px;
}


button{
    padding:10px;
    border-radius: 5px;
}

.content-right{
    flex: 1;
    display: flex;
    flex-direction: column;
}


.content-left{
display: flex;
flex-direction: column;
width:20em;
justify-content: space-around;
align-items:center;
background-color: #7E6B8F;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-text{
    width: 1000px;
    font-size: 20px;
    background-color: #7E6B8F;
    border-radius: 10px;
    padding: 20px;
}

.box{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 15px;
    border-color: #B5A886;
    border-width: 10px;
}

.bottom{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 a{
   text-decoration: none; 
   font-size: 30px;
   color:;
 }
 
 .bottom-text{
    width: 1000px;
    font-size: 20px;
    background-color: #7E6B8F;
    padding: 30px;
    border-radius: 10px;
 }

 .footer{
    display: flex;
    justify-content: center;
    font-size: 18px;
 }

 .header, .footer{
background-color:#848FA5;
 }