body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
*{
    border-style: solid;
    padding: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.content{
    display: flex;
    flex: 1;
}

.content-right{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-left{
display: flex;
flex-direction: column;
width:15em;
justify-content: space-around;
align-items:center
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-text{
    width: 1000px;
}

.box{
    width: 100px;
    height: 100px;
}

.bottom{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 a{
   text-decoration: none; 
 }
 
 .bottom-text{
    width: 1000px;
    font-size: 20px;
 }

 .footer{
    display: flex;
    justify-content: center;
 }